{% extends "maintenance/layout.html" %}
{% load static %}
{% load tz %}
{% block title %}Building Detail{% endblock %}
{% block head %}
<script src="{% static 'maintenance/buildingDetail.js' %}"></script>
{% endblock %}
{% block main %}
    {% if building %}
      <div class="alert" style="display: none;"></div>
      {%csrf_token%}
        <div>
            <h2><a href="javascript:void(0)" id="editBuilding" data-bid="{{ building.id }}"><i class='far fa-edit' style="font-size: 24;"></i></a> Building Info</h2>
            <div class="row row-cols-1 row-cols-md-3">
                <div class="col mb-4">
                  <div class="card h-100 bg-light">
                    <div class="card-body">
                      <h5 class="card-title">Building Name</h5>
                      <p class="card-text bInfo" id="bName">{{ building.name }}</p>
                      <input type="text" style="display: none;" name="bName" id="iName" class="editB form-control" maxlength="50">
                    </div>
                  </div>
                </div>
                <div class="col mb-4">
                  <div class="card h-100 bg-light">
                    <div class="card-body">
                      <h5 class="card-title">Address</h5>
                      <p class="card-text bInfo" id="bAddress">{{ building.address }}</p>
                      <textarea rows="3" style="display: none;" id="iAddress" class="editB form-control" maxlength="300"></textarea>
                    </div>
                  </div>
                </div>
                <div class="col mb-4">
                  <div class="card h-100 bg-info text-white">
                    <div class="card-body">
                      <h5 class="card-title">Manager</h5>
                      <p class="card-text bInfo" id="bManager">{{ building.manager }}</p>
                      <input type="text" style="display: none;" id="iManager" name="bManager" class="editB form-control mb-1" maxlength="100">
                      <p class="card-text bInfo" id="bPhone">{{ building.phone }}</p>
                      <input type="tel" style="display: none;" id="iPhone" name="bPhone" class="editB form-control mb-1" placeholder="05xxxxxxxxx" maxlength="11">
                      <p class="card-text bInfo" id="bEmail">{{ building.email }}</p>
                      <input type="email" style="display: none;" id="iEmail" name="bEmail" class="editB form-control" maxlength="100">
                    </div>
                  </div>
                </div>
                <div class="col mb-4">
                  <div class="card h-100">
                    <div class="card-body">
                      <h5 class="card-title" style="text-align: center;">Floors</h5>
                      <p class="card-text bInfo" id="bFloors" style="font-size: 48px; font-weight: 600; text-align: center;">{{ building.floors }}</p>
                      <input type="number" style="display: none;" id="iFloors" name="bFloors" class="editB form-control" max="25" min="2">
                    </div>
                  </div>
                </div>
                <div class="col mb-4">
                    <div class="card h-100">
                      <div class="card-body">
                        <h5 class="card-title" style="text-align: center;">Elevator Type</h5>
                        <p class="card-text bInfo" id="bElevator" style="font-weight: 600; font-size: 36px; text-align: center;">{{ building.elevator_type }}</p>
                        <input type="text" style="display: none;" id="iElevator" name="bElevator" class="editB form-control" maxlength="100">
                      </div>
                    </div>
                  </div>
                  <div class="col mb-4">
                    <div class="card h-100">
                      <div class="card-body">
                        <h5 class="card-title" style="text-align: center;">Status</h5>
                        <input type="hidden" value="{{ building.status }}" id="hiddenBstatus">
                        {% if building.status == True %}
                        <p class="card-text bInfo" id="bStatus" style="font-weight: 600; font-size: 48px; text-align: center;">Active</p>
                        {% else %}
                        <p class="card-text bInfo" id="bStatus" style="font-weight: 600; font-size: 48px; text-align: center;">InActive</p>
                        {% endif %}
                        <select style="display: none;" class="editB form-control" id="iStatus" name="bStatus">
                            <option value="False">InActive</option>
                            <option value="True">Active</option>
                        </select>
                      </div>
                    </div>
                  </div>
              </div>
              <div id="editBtnGroup" style="display: none;">
                <a href="{% url 'deleteBuilding' building.id %}" class="btn btn-sm btn-outline-dark" style="float:right" id="deleteBld">Delete Building</a>
                <button class="btn btn-sm btn-outline-danger mr-1" style="float:right" id="cancelEdit">Cancel</button>
                <button class="btn btn-sm btn-primary mr-1" style="float:right" id="doEdit">Update</button>
              </div>
        </div>
        {% if agreement %}
            <div class="table-responsive" style="margin-top:15px;">
                <h2>Agreements</h2>
                <table class="table">
                    <thead style="text-align: center; vertical-align: middle;">
                        <th>Agreement Type</th>
                        <th>Start Date</th>
                        <th>End Date</th>
                    </thead>
                    <tbody>
                        {% for a in agreement %}
                        <tr style="text-align: center; vertical-align: middle;"">
                            <td>{{ a.type }}</td>
                            <td>{{ a.start_date|localtime|date:"d/m/Y" }}</td>
                            <td>{{ a.end_date|localtime|date:"d/m/Y" }}</td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        {% endif %}
        {% if tasks %}
            <div class="table-responsive" style="margin-top:15px; margin-bottom:80px">
                <h2>Tasks</h2>
                <table class="table" id="bldTasksTbl">
                    <thead style="text-align: center; vertical-align: middle;">
                        <th>#</th>
                        <th>Task ID</th>
                        <th>Type</th>
                        <th>Description</th>
                        <th>Result</th>
                        <th>Closed Date</th>
                        <th>Team</th>
                        <th>Team Notes</th>
                        <th>Materials</th>
                    </thead>
                    <tbody>
                        {% for task in tasks %}
                            <tr style="text-align: center; vertical-align: middle;">
                                <td style="text-align: center; vertical-align: middle;">{{ forloop.counter }}</td>
                                <td style="text-align: center; vertical-align: middle;">{{ task.id }}</td>
                                <td style="text-align: center; vertical-align: middle;">{{ task.type.type }}</td>
                                <td style="text-align: left; vertical-align: middle;">{{ task.description }}</td>
                                {% if task.result == None %}
                                <td class="table-warning" style="text-align: center; vertical-align: middle;">Ongoing</td>
                                {% elif task.result == True%}
                                <td class="table-success" style="text-align: center; vertical-align: middle;">Done</td>
                                {% elif task.result == False %}
                                <td class="table-danger" style="text-align: center; vertical-align: middle;">Cancelled</td>
                                {% endif %}
                                <td style="text-align: center; vertical-align: middle;">{{ task.closed|localtime|date:"d/m/Y H:i:s" }}</td>
                                <td style="text-align: center; vertical-align: middle;">{{ task.team.name }}</td>
                                <td style="text-align: left; vertical-align: middle;">{{ task.notes }}</td>
                                <td style="text-align: left; vertical-align: middle;">
                                    <ul>
                                        {% for m in task.materials.all %}
                                            <li style="margin-top:1px; margin-bottom:1px">{{ m.name }}</li>
                                        {% endfor %}
                                    </ul>
                                </td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        {% endif %}
    {% endif %}
    <script>
      $(document).ready(function() {
          $('#bldTasksTbl').DataTable();
      });
  </script>
{% endblock %}
so what?