{% extends "maintenance/layout.html" %}
{% load static %}
{% load tz %}
{% block title %}Welcome{% endblock %}
{% block head %}{% endblock %}
{% block main %}
    {% if tasks %}
        <h1>Team's Tasks</h1>
        <div class="table-responsive">
        <table class="table table-sm table-hover table-bordered">
            <thead style="text-align: center;">
                <th>#</th>
                <th>Team</th>
                <th>Building</th>
                <th>Task</th>
                <th>Status</th>
                {% if not request.user.is_staff %}
                <th>TODO</th>
                {% endif %}
            </thead>
            <tbody>
                {% for task in tasks %}
                <tr>
                    <td style="vertical-align: middle; text-align: center;">{{ forloop.counter }}</td>
                    <td style="vertical-align: middle; text-align: center;">{{ task.team.name }}</td>
                    <td style="vertical-align: middle;">
                        <p style="font-weight: 600; margin-bottom: 2px;">{{ task.building.name }}</p>
                        <p style="margin-bottom: 2px;">{{ task.building.address }}</p>
                        <p style="margin-bottom: 2px;">{{ task.building.manager }} : <a href="tel:+9{{task.building.phone}}">({{ task.building.phone }})</a></p>
                    </td>
                    <td style="vertical-align: middle; text-align: center;">{{ task.type }}</td>
                    {% if task.result == True %}
                    <td style="vertical-align: middle; text-align: center;" class="table-success">Done</td>
                    {% elif task.result == False %}
                    <td style="vertical-align: middle; text-align: center;" class="table-danger">Cancelled</td>
                    {% else %}
                    <td style="vertical-align: middle; text-align: center;" class="table-warning">Ongoing</td>
                    {% endif %}
                    {% if not request.user.is_staff %}
                    <td style="vertical-align: middle; text-align: center;"><a href="{% url 'taskDone' task.id %}" class="btn btn-sm btn-success"><i class="far fa-check-circle"></i></a></td>
                    {% endif %}
                </tr>
                {% endfor %}
            </tbody>
        </table>
        </div>
    {% else %}
    {% endif %}
{% endblock %}
so what?